<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<section class="section">
  <h2><%= @post.post_title %></h2>
</section>

<section class="section">
  <p><%= image_tag @post.image.url %></p>
  <p><%= @post.post_body %></p>
<!--If admin, below is visible -->
  <p><%= link_to "Edit post", edit_post_path(@post) %></p>
  <p><%= link_to "Return to posts", posts_path %></p>
  <p><%= button_to "Delete post", {:controller => :posts, :action => 'destroy', :id => @post.id }, :method => :delete %></p>
</section>