<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "Blog", posts_path %></li>
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to "About" %></li>
        <li><%= link_to "Contact" %></li>
        <% if user_signed_in?  %>
         <li><%= link_to current_user.email, edit_user_registration_path %></li>
         <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
         <li><%= link_to "Sign Up", new_user_registration_path %></li>
         <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
